header
	.header-position
		h1.logo Привет

		nav.site-nav
			ul
				li: a(href="#О нас") О нас
				li: a(href="#Контакты") Контакты
				li: a(href="#О нас") О нас
				li: a(href="#О нас") О нас
				li: a(href="#О нас") О нас
				li: a(href="#О нас") О нас
			
		a(href="mailto:archil1997@gmail.com").email-link +email me
